{"openapi":"3.1.0","info":{"title":"CareDiary API","description":"돌봄일기 서비스","version":"v1"},"servers":[{"url":"https://diary-api.snuh-bmilab.ai.kr","description":"Production"},{"url":"http://localhost:8080","description":"Local"}],"security":[{"JWT":[]}],"tags":[{"name":"Home","description":"홈 화면 API"},{"name":"User","description":"사용자 관련 API"},{"name":"(Admin) User","description":"관리자 사용자 관련 API"},{"name":"Diary","description":"일기 관련 API"},{"name":"(Admin) Usage","description":"관리자 사용량 조회 API"},{"name":"(Admin) Diary","description":"관리자 일기 관련 API"},{"name":"Scale Question","description":"척도 질문 관련 API"}],"paths":{"/v1/users/scale-questions":{"post":{"tags":["Scale Question"],"summary":"척도 질문 응답 등록","description":"사용자의 척도 질문에 대한 응답을 등록합니다. 불안, 우울, 분노 척도에 대한 응답을 포함합니다.","operationId":"registerUserScaleQuestionResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScaleQuestionUserAnswerRegisterRequest"}}},"required":true},"responses":{"200":{"description":"응답 등록 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUnit"}}}},"400":{"description":"잘못된 요청 (유효성 검사 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUnit"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUnit"}}}}},"security":[{"JWT":[]}]}},"/v1/users/register":{"post":{"tags":["User"],"summary":"회원가입","description":"OAuth2 인증 후 사용자 상세 정보를 등록합니다. 이름, 역할, 성별, 생년월일, 주소 및 의료 관련 정보를 포함합니다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegisterRequest"}}},"required":true},"responses":{"200":{"description":"사용자 등록 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserRegisterResponse"}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserRegisterResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserRegisterResponse"}}}},"409":{"description":"이미 등록된 사용자","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserRegisterResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/diaries":{"post":{"tags":["Diary"],"summary":"일기 생성","description":"새로운 일기를 작성합니다. 날짜, 내용, 감정, 질문 점수를 포함해야 합니다.","operationId":"createDiary","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryCreateRequest"}}},"required":true},"responses":{"200":{"description":"일기 생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryCreateResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검사 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryCreateResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryCreateResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/users/scales":{"get":{"tags":["Scale Question"],"summary":"사용자 척도 결과 조회","description":"현재 사용자의 모든 척도 측정 결과를 조회합니다. 회차별로 그룹화된 결과를 반환합니다.","operationId":"findAllUserScales","responses":{"200":{"description":"척도 결과 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserScaleFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseUserScaleFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/users/me":{"get":{"tags":["User"],"summary":"현재 사용자 정보 조회","description":"현재 로그인한 사용자의 상세 정보를 조회합니다.","operationId":"getMe","responses":{"200":{"description":"사용자 정보 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseCurrentUserResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseCurrentUserResponse"}}}},"404":{"description":"사용자를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseCurrentUserResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/scale-questions":{"get":{"tags":["Scale Question"],"summary":"전체 척도 질문 목록 조회","description":"시스템에 등록된 모든 척도 질문을 조회합니다. 불안, 우울, 분노 카테고리별 질문을 포함합니다.","operationId":"findAllScaleQuestions","responses":{"200":{"description":"척도 질문 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseScaleQuestionFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseScaleQuestionFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/home":{"get":{"tags":["Home"],"summary":"홈 화면 정보 조회","description":"사용자의 홈 화면에 표시될 정보를 조회합니다. 월별/연간 일기 수, 감정 통계, 추천 복지 서비스, 척도 질문 필요 여부 등을 포함합니다.","operationId":"getHome","responses":{"200":{"description":"홈 화면 정보 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseHomeResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseHomeResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/diaries/{diaryId}":{"get":{"tags":["Diary"],"summary":"일기 상세 조회","description":"특정 일기의 상세 정보를 조회합니다.","operationId":"findDiaryById","parameters":[{"name":"diaryId","in":"path","description":"일기 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"일기 상세 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryDetailResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryDetailResponse"}}}},"404":{"description":"일기를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryDetailResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/diaries/me":{"get":{"tags":["Diary"],"summary":"내 일기 목록 조회","description":"현재 사용자의 일기 목록을 조회합니다. 선택적으로 시작/종료 날짜로 필터링할 수 있습니다.","operationId":"findAllDiariesByMe","parameters":[{"name":"startDate","in":"query","description":"조회 시작 날짜 (선택)","required":false,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"endDate","in":"query","description":"조회 종료 날짜 (선택)","required":false,"schema":{"type":"string","format":"date"},"example":"2024-12-31"}],"responses":{"200":{"description":"일기 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/diaries/dates":{"get":{"tags":["Diary"],"summary":"월별 일기 작성 날짜 조회","description":"특정 월에 일기가 작성된 날짜 목록을 조회합니다.","operationId":"findDates","parameters":[{"name":"month","in":"query","description":"조회할 월 (yyyy-MM 형식)","required":true,"schema":{"type":"string"},"example":"2024-01"}],"responses":{"200":{"description":"날짜 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryDatesResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseDiaryDatesResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/users":{"get":{"tags":["(Admin) User"],"summary":"전체 사용자 목록 조회","description":"시스템에 등록된 모든 사용자의 목록을 조회합니다.","operationId":"findAllUsers","responses":{"200":{"description":"사용자 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserFindAllResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/users/{userId}":{"get":{"tags":["(Admin) User"],"summary":"사용자 상세 조회","description":"특정 사용자의 상세 정보를 조회합니다.","operationId":"findUserById","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"사용자 상세 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserDetailResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserDetailResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserDetailResponse"}}}},"404":{"description":"사용자를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserDetailResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/users/{userId}/scales":{"get":{"tags":["(Admin) User"],"summary":"사용자 척도 점수 조회","description":"특정 사용자의 모든 척도 측정 결과를 조회합니다.","operationId":"findUserScales","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"척도 결과 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleFindAllResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleFindAllResponse"}}}},"404":{"description":"사용자를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/users/{userId}/scale-questions":{"get":{"tags":["(Admin) User"],"summary":"사용자 척도 설문 답변 조회","description":"특정 사용자의 특정 회차 척도 질문에 대한 응답 결과를 조회합니다.","operationId":"findScaleQuestionResult","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"count","in":"query","description":"조회할 회차","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"척도 질문 응답 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleQuestionResultResponse"}}}},"400":{"description":"잘못된 요청 (유효하지 않은 회차)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleQuestionResultResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleQuestionResultResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleQuestionResultResponse"}}}},"404":{"description":"사용자 또는 응답을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserScaleQuestionResultResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/usage":{"get":{"tags":["(Admin) Usage"],"summary":"사용량 조회","description":"누적 사용량과 월간 사용량을 조회합니다. 사용자 수, 분석 건 수, 사용료를 포함합니다.","operationId":"getUsage","responses":{"200":{"description":"사용량 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUsageResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUsageResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUsageResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/usage/users":{"get":{"tags":["(Admin) Usage"],"summary":"사용자별 사용량 조회","description":"사용자별 일기 작성 건수와 분석 건수를 조회합니다. 사용자 이름으로 검색할 수 있습니다.","operationId":"getUserUsages","parameters":[{"name":"search","in":"query","description":"사용자 이름 검색","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"사용자별 사용량 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserUsageResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserUsageResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminUserUsageResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/diaries":{"get":{"tags":["(Admin) Diary"],"summary":"사용자별 일기 목록 조회","description":"특정 사용자가 특정 날짜에 작성한 일기 목록을 조회합니다.","operationId":"findAllByUserIdAndDate","parameters":[{"name":"userId","in":"query","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"date","in":"query","description":"작성일 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"일기 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryFindAllResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryFindAllResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryFindAllResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/diaries/{diaryId}/welfare-services":{"get":{"tags":["(Admin) Diary"],"summary":"일기 복지로 서비스 조회","description":"특정 일기와 연관된 복지로 서비스 정보를 조회합니다.","operationId":"findWelfareServices","parameters":[{"name":"diaryId","in":"path","description":"일기 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"복지 서비스 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryWelfareServiceResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryWelfareServiceResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryWelfareServiceResponse"}}}},"404":{"description":"일기를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryWelfareServiceResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/diaries/{diaryId}/sdoh":{"get":{"tags":["(Admin) Diary"],"summary":"일기 SDoH 조회","description":"특정 일기의 사회적 건강 결정요인(Social Determinants of Health) 정보를 조회합니다.","operationId":"findSdoh","parameters":[{"name":"diaryId","in":"path","description":"일기 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"SDoH 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiarySdohResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiarySdohResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiarySdohResponse"}}}},"404":{"description":"일기를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiarySdohResponse"}}}}},"security":[{"JWT":[]}]}},"/v1/admin/diaries/{diaryId}/keywords":{"get":{"tags":["(Admin) Diary"],"summary":"일기 추출 키워드 조회","description":"특정 일기에서 추출된 키워드 정보를 조회합니다.","operationId":"findExtractedKeywords","parameters":[{"name":"diaryId","in":"path","description":"일기 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"키워드 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryKeywordResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryKeywordResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryKeywordResponse"}}}},"404":{"description":"일기를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseAdminDiaryKeywordResponse"}}}}},"security":[{"JWT":[]}]}}},"components":{"schemas":{"ScaleQuestionUserAnswerItem":{"type":"object","description":"척도 질문 응답 항목","properties":{"scaleQuestionId":{"type":"integer","format":"int64","description":"척도 질문 ID","example":1},"answer":{"type":"integer","format":"int32","description":"응답 값 (1-5)","example":3,"maximum":5,"minimum":1}},"required":["answer","scaleQuestionId"]},"ScaleQuestionUserAnswerRegisterRequest":{"type":"object","description":"척도 질문 응답 등록 요청","properties":{"items":{"type":"array","description":"척도 질문 응답 항목 목록","items":{"$ref":"#/components/schemas/ScaleQuestionUserAnswerItem"},"minItems":1}},"required":["items"]},"CommonResponseUnit":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message","status"]},"UserRegisterRequest":{"type":"object","description":"회원가입 요청","properties":{"name":{"type":"string","description":"이름","example":"홍길동"},"role":{"type":"string","description":"역할 (USER, ADMIN)","enum":["USER","ADMIN"],"example":"USER"},"gender":{"type":"string","description":"성별 (MALE, FEMALE)","enum":["MALE","FEMALE"],"example":"MALE"},"birthDate":{"type":"string","format":"date","description":"생년월일","example":"1990-01-15"},"address":{"type":"string","description":"주소","example":"서울특별시 강남구 테헤란로 123"},"primaryDiagnosis":{"type":"string","description":"[환자 정보] 주 진단명","example":"조현병"},"educationBeforeOnset":{"type":"string","description":"[환자 정보] 학력 (발병 전)","example":"대학교 졸업"},"previousDiagnosis":{"type":"string","description":"[환자 정보] 병력 - 진단명 (과거 진단명)","example":"우울증"},"diagnosisYearMonth":{"type":"string","description":"[환자 정보] 병력 - 진단받은 시기","example":"2020-06"},"diagnosisHospital":{"type":"string","description":"[환자 정보] 병력 - 진단받은 병원","example":"서울대학교병원"},"chiefComplaint":{"type":"string","description":"[환자 정보] 주증상","example":"환청, 망상"},"currentHospital":{"type":"string","description":"[환자 정보] 현재 주로 이용하는 병원","example":"서울대학교병원 정신건강의학과"},"currentResidence":{"type":"string","description":"[환자 정보] 현재 거주하는 장소","example":"자택"},"medicalCoverage":{"type":"string","description":"[환자 정보] 의료보장 (HEALTH_INSURANCE: 건강보험, MEDICAL_AID_1: 의료급여 1종, MEDICAL_AID_2: 의료급여 2종, NEAR_POOR_1: 차상위 1종, NEAR_POOR_2: 차상위 2종)","enum":["HEALTH_INSURANCE","MEDICAL_AID_1","MEDICAL_AID_2","NEAR_POOR_1","NEAR_POOR_2"],"example":"HEALTH_INSURANCE"},"specialCaseRegistered":{"type":"boolean","description":"[환자 정보] 산정특례 등록 여부","example":true},"specialCaseRegisteredDate":{"type":"string","format":"date","description":"[환자 정보] 산정특례 등록일 (산정특례 등록 시 필수)","example":"2021-03-01"},"disabilityRegistered":{"type":"boolean","description":"[환자 정보] 장애 등록 여부","example":true},"disabilityStatus":{"type":"string","description":"[환자 정보] 장애 등록 진행 상태 (REGISTERED: 등록, IN_PROGRESS: 진행 중, NOT_REGISTERED: 미등록)","enum":["REGISTERED","IN_PROGRESS","NOT_REGISTERED"],"example":"REGISTERED"},"disabilityType":{"type":"string","description":"[환자 정보] 장애 종류 (장애 등록 시 필수)","example":"정신장애"},"disabilitySeverity":{"type":"string","description":"[환자 정보] 장애 정도 (SEVERE: 심한 장애, NOT_SEVERE: 심하지 않은 장애)","enum":["SEVERE","NOT_SEVERE"],"example":"NOT_SEVERE"},"socialWelfareServiceLabels":{"type":"array","description":"[환자 정보] 사회복지서비스 (다중 선택)","example":["CAREGIVER_COST","SPECIAL_DIET_PURCHASE"],"items":{"type":"string"}}},"required":["address","birthDate","gender","name","role"]},"CommonResponseUserRegisterResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserRegisterResponse"}},"required":["code","message","status"]},"UserRegisterResponse":{"type":"object","description":"회원가입 응답","properties":{"accessToken":{"type":"string","description":"새로 발급된 JWT 액세스 토큰","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},"required":["accessToken"]},"DiaryCreateRequest":{"type":"object","description":"일기 생성 요청","properties":{"date":{"type":"string","format":"date","description":"일기 작성 날짜","example":"2024-12-25"},"content":{"type":"string","description":"일기 내용","example":"오늘은 날씨가 좋아서 산책을 했다. 기분이 많이 좋아졌다.","minLength":1},"emotion":{"type":"string","description":"감정 상태","enum":["HAPPY","LOVE","SAD"],"example":"HAPPY"},"questionScores":{"type":"array","description":"추천 질문에 대한 사용자 점수 목록","items":{"$ref":"#/components/schemas/QuestionScoreItem"},"minItems":1}},"required":["content","date","emotion","questionScores"]},"QuestionScoreItem":{"type":"object","description":"질문 점수 항목","properties":{"questionText":{"type":"string","description":"질문 텍스트","example":"오늘 하루 얼마나 활동적이었나요?","minLength":1},"score":{"type":"integer","format":"int32","description":"점수 (0-10)","example":7,"maximum":10,"minimum":0}},"required":["questionText","score"]},"CommonResponseDiaryCreateResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DiaryCreateResponse"}},"required":["code","message","status"]},"DiaryCreateResponse":{"type":"object","description":"일기 생성 응답","properties":{"summary":{"type":"string","description":"AI가 생성한 일기 요약","example":"오늘 산책을 하며 좋은 기분을 느꼈군요! 활동적인 하루를 보내셨네요."}},"required":["summary"]},"CommonResponseUserScaleFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserScaleFindAllResponse"}},"required":["code","message","status"]},"UserScaleFindAllResponse":{"type":"object","description":"사용자 척도 결과 조회 응답","properties":{"items":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/UserScaleItem"}},"description":"회차별 척도 결과 (키: 회차 번호, 값: 해당 회차의 척도 점수 목록)","example":{"0":[{"scaleCategory":"ANXIETY_DEPRESSION","score":12},{"scaleCategory":"ANGER","score":8}]}}},"required":["items"]},"UserScaleItem":{"type":"object","description":"사용자 척도 점수 항목","properties":{"scaleCategory":{"type":"string","description":"척도 카테고리 (ANXIETY_DEPRESSION, ANGER)","enum":["ANXIETY_DEPRESSION","ANGER"],"example":"ANGER"},"score":{"type":"integer","format":"int32","description":"척도 점수","example":12}},"required":["scaleCategory","score"]},"CommonResponseCurrentUserResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CurrentUserResponse"}},"required":["code","message","status"]},"CurrentUserResponse":{"type":"object","description":"현재 사용자 정보 응답","properties":{"userId":{"type":"string","format":"uuid","description":"사용자 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"email":{"type":"string","description":"이메일","example":"user@example.com"},"name":{"type":"string","description":"이름","example":"홍길동"},"role":{"type":"string","description":"역할","enum":["USER","ADMIN"],"example":"USER"},"gender":{"type":"string","description":"성별","enum":["MALE","FEMALE"],"example":"MALE"},"birthDate":{"type":"string","format":"date","description":"생년월일","example":"1990-01-15"},"address":{"type":"string","description":"주소","example":"서울특별시 강남구 테헤란로 123"},"primaryDiagnosis":{"type":"string","description":"[환자 정보] 주 진단명","example":"조현병"},"educationBeforeOnset":{"type":"string","description":"[환자 정보] 학력 (발병 전)","example":"대학교 졸업"},"previousDiagnosis":{"type":"string","description":"[환자 정보] 병력 - 진단명 (과거 진단명)","example":"우울증"},"diagnosisYearMonth":{"type":"string","description":"[환자 정보] 병력 - 진단받은 시기","example":"2020-06"},"diagnosisHospital":{"type":"string","description":"[환자 정보] 병력 - 진단받은 병원","example":"서울대학교병원"},"chiefComplaint":{"type":"string","description":"[환자 정보] 주증상","example":"환청, 망상"},"currentHospital":{"type":"string","description":"[환자 정보] 현재 주로 이용하는 병원","example":"서울대학교병원 정신건강의학과"},"currentResidence":{"type":"string","description":"[환자 정보] 현재 거주하는 장소","example":"자택"},"medicalCoverage":{"type":"string","description":"[환자 정보] 의료보장 (HEALTH_INSURANCE: 건강보험, MEDICAL_AID_1: 의료급여 1종, MEDICAL_AID_2: 의료급여 2종, NEAR_POOR_1: 차상위 1종, NEAR_POOR_2: 차상위 2종)","enum":["HEALTH_INSURANCE","MEDICAL_AID_1","MEDICAL_AID_2","NEAR_POOR_1","NEAR_POOR_2"],"example":"HEALTH_INSURANCE"},"specialCaseRegistered":{"type":"boolean","description":"[환자 정보] 산정특례 등록 여부","example":true},"specialCaseRegisteredDate":{"type":"string","format":"date","description":"[환자 정보] 산정특례 등록일 (산정특례 등록 시 필수)","example":"2021-03-01"},"disabilityRegistered":{"type":"boolean","description":"[환자 정보] 장애 등록 여부","example":true},"disabilityStatus":{"type":"string","description":"[환자 정보] 장애 등록 진행 상태 (REGISTERED: 등록, IN_PROGRESS: 진행 중, NOT_REGISTERED: 미등록)","enum":["REGISTERED","IN_PROGRESS","NOT_REGISTERED"],"example":"REGISTERED"},"disabilityType":{"type":"string","description":"[환자 정보] 장애 종류 (장애 등록 시 필수)","example":"정신장애"},"disabilitySeverity":{"type":"string","description":"[환자 정보] 장애 정도 (SEVERE: 심한 장애, NOT_SEVERE: 심하지 않은 장애)","enum":["SEVERE","NOT_SEVERE"],"example":"NOT_SEVERE"},"socialWelfareServiceLabels":{"type":"array","description":"[환자 정보] 사회복지서비스 (다중 선택)","example":["CAREGIVER_COST","SPECIAL_DIET_PURCHASE"],"items":{"type":"string"}}},"required":["address","birthDate","email","gender","name","role","userId"]},"CommonResponseScaleQuestionFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ScaleQuestionFindAllResponse"}},"required":["code","message","status"]},"ScaleQuestionDto":{"type":"object","description":"척도 질문 상세 정보","properties":{"scaleQuestionId":{"type":"integer","format":"int64","description":"척도 질문 ID","example":1},"questionNumber":{"type":"integer","format":"int32","description":"질문 번호","example":1},"content":{"type":"string","description":"질문 내용","example":"지난 일주일 동안 긴장되거나 불안했다"},"scaleCategory":{"type":"string","description":"척도 카테고리 (ANXIETY_DEPRESSION, ANGER)","enum":["ANXIETY_DEPRESSION","ANGER"],"example":"ANXIETY_DEPRESSION"},"optionCount":{"type":"integer","format":"int32","description":"선택지 개수","example":5},"options":{"type":"array","description":"선택지 목록","example":["전혀 아니다","약간 그렇다","보통이다","많이 그렇다","매우 그렇다"],"items":{"type":"string"}}},"required":["content","optionCount","options","questionNumber","scaleCategory","scaleQuestionId"]},"ScaleQuestionFindAllResponse":{"type":"object","description":"척도 질문 목록 조회 응답","properties":{"scaleQuestions":{"type":"array","description":"척도 질문 목록","items":{"$ref":"#/components/schemas/ScaleQuestionDto"}}},"required":["scaleQuestions"]},"CommonResponseHomeResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/HomeResponse"}},"required":["code","message","status"]},"HomeResponse":{"type":"object","description":"홈 화면 정보 응답","properties":{"monthlyDiaryCount":{"type":"integer","format":"int32","description":"이번 달 작성한 일기 수","example":12},"yearlyDiaryCount":{"type":"integer","format":"int32","description":"올해 작성한 일기 수","example":85},"emotionCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"},"description":"감정별 일기 수 (HAPPY, LOVE, SAD)","example":{"HAPPY":30,"LOVE":25,"SAD":30}},"recommendedWelfareServices":{"type":"array","description":"추천 복지 서비스 목록","items":{"$ref":"#/components/schemas/WelfareServiceItem"}},"isScaleQuestionRequired":{"type":"boolean","description":"척도 질문 응답 필요 여부","example":true},"termCount":{"type":"integer","format":"int32","description":"현재 회기 수","example":3}},"required":["emotionCounts","isScaleQuestionRequired","monthlyDiaryCount","recommendedWelfareServices","termCount","yearlyDiaryCount"]},"WelfareServiceItem":{"type":"object","description":"복지 서비스 항목","properties":{"serviceName":{"type":"string","description":"서비스명","example":"정신건강복지센터 상담 서비스"},"serviceDetailLink":{"type":"string","description":"서비스 상세 링크","example":"https://www.bokjiro.go.kr/service/12345"},"serviceDigest":{"type":"string","description":"서비스 요약 설명","example":"정신건강 상담 및 사례관리 서비스를 제공합니다."}},"required":["serviceDetailLink","serviceName"]},"CommonResponseDiaryDetailResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DiaryDetailResponse"}},"required":["code","message","status"]},"DiaryDetailResponse":{"type":"object","description":"일기 상세 조회 응답","properties":{"diaryId":{"type":"string","format":"uuid","description":"일기 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"date":{"type":"string","format":"date","description":"일기 작성 날짜","example":"2024-12-25"},"content":{"type":"string","description":"일기 내용","example":"오늘은 날씨가 좋아서 산책을 했다."},"emotion":{"type":"string","description":"감정 상태","enum":["HAPPY","LOVE","SAD"],"example":"HAPPY"},"questionScores":{"type":"array","description":"추천 질문에 대한 사용자 점수 목록","items":{"$ref":"#/components/schemas/RecommendedQuestionUserScoreDto"}}},"required":["content","date","diaryId","emotion","questionScores"]},"RecommendedQuestionUserScoreDto":{"type":"object","description":"추천 질문 점수","properties":{"questionText":{"type":"string","description":"질문 텍스트","example":"오늘 하루 얼마나 활동적이었나요?"},"score":{"type":"integer","format":"int32","description":"사용자가 입력한 점수","example":7}},"required":["questionText","score"]},"CommonResponseDiaryFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DiaryFindAllResponse"}},"required":["code","message","status"]},"DiaryDto":{"type":"object","description":"일기 요약 정보","properties":{"diaryId":{"type":"string","format":"uuid","description":"일기 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"date":{"type":"string","format":"date","description":"일기 작성 날짜","example":"2024-12-25"},"content":{"type":"string","description":"일기 내용","example":"오늘은 날씨가 좋아서 산책을 했다."},"emotion":{"type":"string","description":"감정 상태","enum":["HAPPY","LOVE","SAD"],"example":"HAPPY"}},"required":["content","date","diaryId","emotion"]},"DiaryFindAllResponse":{"type":"object","description":"일기 목록 조회 응답","properties":{"diaries":{"type":"array","description":"일기 목록","items":{"$ref":"#/components/schemas/DiaryDto"}}},"required":["diaries"]},"CommonResponseDiaryDatesResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DiaryDatesResponse"}},"required":["code","message","status"]},"DiaryDatesResponse":{"type":"object","description":"월별 일기 작성 날짜 목록 응답","properties":{"dates":{"type":"array","description":"일기가 작성된 날짜 목록","example":["2024-12-01","2024-12-05","2024-12-10"],"items":{"type":"string","format":"date"}}},"required":["dates"]},"AdminUserDto":{"type":"object","description":"관리자 사용자 정보","properties":{"userId":{"type":"string","format":"uuid","description":"사용자 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"이름","example":"홍길동"},"birthDate":{"type":"string","format":"date","description":"생년월일","example":"1990-01-15"},"primaryDiagnosis":{"type":"string","description":"주 진단명","example":"조현병"},"atRisk":{"type":"boolean","description":"위험군 여부","example":false}},"required":["birthDate","isAtRisk","name","userId"]},"AdminUserFindAllResponse":{"type":"object","description":"관리자 전체 사용자 목록 조회 응답","properties":{"users":{"type":"array","description":"사용자 목록","items":{"$ref":"#/components/schemas/AdminUserDto"}}},"required":["users"]},"CommonResponseAdminUserFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUserFindAllResponse"}},"required":["code","message","status"]},"AdminUserDetailResponse":{"type":"object","description":"관리자 사용자 상세 조회 응답","properties":{"userId":{"type":"string","format":"uuid","description":"사용자 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"이름","example":"홍길동"},"birthDate":{"type":"string","format":"date","description":"생년월일","example":"1990-01-15"},"primaryDiagnosis":{"type":"string","description":"주 진단명","example":"조현병"},"diaryDates":{"type":"array","description":"일기 작성 날짜 목록","example":["2024-01-15","2024-01-20","2024-01-25"],"items":{"type":"string","format":"date"}},"monthlyDiaryCount":{"type":"integer","format":"int32","description":"이번 달 작성한 일기 수","example":12},"yearlyDiaryCount":{"type":"integer","format":"int32","description":"올해 작성한 일기 수","example":85},"emotionCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"},"description":"감정별 일기 수 (HAPPY, LOVE, SAD)","example":{"HAPPY":30,"LOVE":25,"SAD":30}},"riskReason":{"type":"string","description":"위험 평가 사유","example":"최근 2주간 부정적 감정 일기 비율 증가"}},"required":["birthDate","diaryDates","emotionCounts","monthlyDiaryCount","name","userId","yearlyDiaryCount"]},"CommonResponseAdminUserDetailResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUserDetailResponse"}},"required":["code","message","status"]},"AdminUserScaleFindAllResponse":{"type":"object","description":"관리자 사용자 척도 결과 조회 응답","properties":{"items":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/UserScaleItem"}},"description":"회차별 척도 결과 (키: 회차 번호, 값: 해당 회차의 척도 점수 목록)","example":{"1":[{"scaleCategory":"ANXIETY_DEPRESSION","score":8,"createdAt":"2024-01-15T10:30:00"}],"2":[{"scaleCategory":"ANGER","score":10,"createdAt":"2024-02-15T10:30:00"}]}}},"required":["items"]},"CommonResponseAdminUserScaleFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUserScaleFindAllResponse"}},"required":["code","message","status"]},"AdminUserScaleQuestionResultResponse":{"type":"object","description":"관리자 사용자 척도 질문 응답 조회 결과","properties":{"userId":{"type":"string","format":"uuid","description":"사용자 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"이름","example":"홍길동"},"birthDate":{"type":"string","format":"date","description":"생년월일","example":"1990-01-15"},"primaryDiagnosis":{"type":"string","description":"주 진단명","example":"조현병"},"scaleQuestionTermCount":{"type":"integer","format":"int32","description":"척도 질문 응답 회차","example":3},"items":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ScaleQuestionResultDto"},"description":"척도 카테고리별 질문 응답 결과 (키: ANXIETY_DEPRESSION/ANGER)"}},"required":["birthDate","items","name","scaleQuestionTermCount","userId"]},"CommonResponseAdminUserScaleQuestionResultResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUserScaleQuestionResultResponse"}},"required":["code","message","status"]},"ScaleQuestionItemDto":{"type":"object","description":"척도 질문 항목 정보","properties":{"questionNumber":{"type":"integer","format":"int32","description":"질문 번호","example":1},"questionText":{"type":"string","description":"질문 내용","example":"지난 2주 동안 불안감을 느낀 적이 있습니까?"},"selectedOption":{"type":"string","description":"선택한 답변","example":"가끔 그렇다"}},"required":["questionNumber","questionText","selectedOption"]},"ScaleQuestionResultDto":{"type":"object","description":"척도 질문 결과 정보","properties":{"scaleCategory":{"type":"string","description":"척도 카테고리 (ANXIETY_DEPRESSION: 불안/우울, ANGER: 분노)","enum":["ANXIETY_DEPRESSION","ANGER"],"example":"ANXIETY_DEPRESSION"},"scaleScore":{"type":"integer","format":"int32","description":"해당 척도의 총점","example":15},"questions":{"type":"array","description":"질문별 응답 목록","items":{"$ref":"#/components/schemas/ScaleQuestionItemDto"}}},"required":["questions","scaleCategory","scaleScore"]},"AdminUsageResponse":{"type":"object","description":"관리자 사용량 조회 응답","properties":{"cumulative":{"$ref":"#/components/schemas/UsageDetail","description":"누적 사용량"},"monthly":{"$ref":"#/components/schemas/UsageDetail","description":"월간 사용량"}},"required":["cumulative","monthly"]},"CommonResponseAdminUsageResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUsageResponse"}},"required":["code","message","status"]},"UsageDetail":{"type":"object","description":"사용량 상세","properties":{"userCount":{"type":"integer","format":"int64","description":"사용자 수","example":150},"analysisCount":{"type":"integer","format":"int64","description":"분석 건 수","example":1234},"usageFee":{"type":"number","description":"사용료 (원)","example":50000.0}},"required":["analysisCount","usageFee","userCount"]},"AdminUserUsageResponse":{"type":"object","description":"사용자별 사용량 조회 응답","properties":{"users":{"type":"array","description":"사용자별 사용량 목록","items":{"$ref":"#/components/schemas/UserUsageDto"}}},"required":["users"]},"CommonResponseAdminUserUsageResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminUserUsageResponse"}},"required":["code","message","status"]},"UserUsageDto":{"type":"object","description":"사용자별 사용량","properties":{"userId":{"type":"string","format":"uuid","description":"사용자 ID"},"userName":{"type":"string","description":"사용자 이름"},"diaryCount":{"type":"integer","format":"int64","description":"일기 작성 건수"},"analysisCount":{"type":"integer","format":"int64","description":"분석 건수"}},"required":["analysisCount","diaryCount","userId"]},"AdminDiaryDto":{"type":"object","description":"일기 정보","properties":{"diaryId":{"type":"string","format":"uuid","description":"일기 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"uploaderId":{"type":"string","format":"uuid","description":"작성자 ID","example":"550e8400-e29b-41d4-a716-446655440001"},"date":{"type":"string","format":"date","description":"일기 작성 날짜","example":"2024-12-25"},"content":{"type":"string","description":"일기 내용","example":"오늘은 날씨가 좋아서 산책을 했다."},"emotion":{"type":"string","description":"감정 상태","enum":["HAPPY","LOVE","SAD"],"example":"HAPPY"},"createdAt":{"type":"string","format":"date-time","description":"생성 일시"},"questionScores":{"type":"array","description":"추천 질문에 대한 사용자 점수 목록","items":{"$ref":"#/components/schemas/RecommendedQuestionUserScoreDto"}}},"required":["content","createdAt","date","diaryId","emotion","questionScores","uploaderId"]},"AdminDiaryFindAllResponse":{"type":"object","description":"관리자 일기 목록 조회 응답","properties":{"diaries":{"type":"array","description":"일기 목록","items":{"$ref":"#/components/schemas/AdminDiaryDto"}}},"required":["diaries"]},"CommonResponseAdminDiaryFindAllResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminDiaryFindAllResponse"}},"required":["code","message","status"]},"AdminDiaryWelfareServiceResponse":{"type":"object","description":"관리자 일기 복지 서비스 조회 응답","properties":{"diaryId":{"type":"string","format":"uuid","description":"일기 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"welfareServices":{"type":"array","description":"매칭된 복지 서비스 목록","items":{"$ref":"#/components/schemas/DiaryWelfareServiceDto"}}},"required":["diaryId","welfareServices"]},"CommonResponseAdminDiaryWelfareServiceResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminDiaryWelfareServiceResponse"}},"required":["code","message","status"]},"DiaryWelfareServiceDto":{"type":"object","description":"일기 복지 서비스 정보","properties":{"welfareServiceId":{"type":"integer","format":"int64","description":"복지 서비스 ID","example":1},"serviceScope":{"type":"string","description":"서비스 범위 (CENTRAL: 중앙정부, LOCAL: 지방정부)","enum":["LOCAL","NATIONAL"],"example":"CENTRAL"},"serviceId":{"type":"string","description":"서비스 고유 ID","example":"WS2024001"},"serviceName":{"type":"string","description":"서비스명","example":"정신건강복지센터 상담 서비스"},"serviceDetailLink":{"type":"string","description":"서비스 상세 링크","example":"https://www.bokjiro.go.kr/service/12345"},"serviceDigest":{"type":"string","description":"서비스 요약 설명","example":"정신건강 상담 및 사례관리 서비스를 제공합니다."},"adminLevel1Name":{"type":"string","description":"행정구역 1단계 (시/도)","example":"서울특별시"},"adminLevel2Name":{"type":"string","description":"행정구역 2단계 (시/군/구)","example":"강남구"},"matchedLifeCycleKeywords":{"type":"array","description":"매칭된 생애주기 키워드 목록","example":["청년","중장년"],"items":{"type":"string"}},"matchedHouseholdStatusKeywords":{"type":"array","description":"매칭된 가구상황 키워드 목록","example":["1인 가구","저소득층"],"items":{"type":"string"}},"matchedInterestKeywords":{"type":"array","description":"매칭된 관심사 키워드 목록","example":["정신건강","심리상담"],"items":{"type":"string"}},"visible":{"type":"boolean","description":"사용자에게 표시 여부","example":true}},"required":["matchedHouseholdStatusKeywords","matchedInterestKeywords","matchedLifeCycleKeywords","serviceDetailLink","serviceId","serviceName","serviceScope","visible","welfareServiceId"]},"AdminDiarySdohResponse":{"type":"object","description":"관리자 일기 SDOH 조회 응답","properties":{"items":{"type":"array","description":"SDOH 항목 목록","items":{"$ref":"#/components/schemas/DiarySdohItemDto"}}},"required":["items"]},"CommonResponseAdminDiarySdohResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminDiarySdohResponse"}},"required":["code","message","status"]},"DiarySdohItemDto":{"type":"object","description":"일기 SDOH 항목 정보","properties":{"elementNo":{"type":"integer","format":"int32","description":"요소 번호","example":1},"majorCat":{"type":"string","description":"대분류","example":"경제적 안정"},"middleCat":{"type":"string","description":"중분류","example":"고용"},"subCat":{"type":"string","description":"소분류","example":"실업"},"signCode":{"type":"string","description":"징후 코드","example":"ES001"},"typeLabel":{"type":"string","description":"유형 라벨","example":"경제적 어려움"},"severity":{"type":"integer","format":"int32","description":"심각도 (1-5)","example":3},"duration":{"type":"integer","format":"int32","description":"지속 기간 (1-5)","example":4},"coping":{"type":"integer","format":"int32","description":"대처 능력 (1-5)","example":2},"recommendation":{"type":"string","description":"권장 사항","example":"취업 지원 서비스 연결 필요"},"evidences":{"type":"array","description":"근거 문장 목록","example":["실직 상태가 6개월째 지속되고 있다","생활비가 부족하여 어려움을 겪고 있다"],"items":{"type":"string"}}},"required":["elementNo","evidences"]},"AdminDiaryKeywordResponse":{"type":"object","description":"관리자 일기 키워드 조회 응답","properties":{"diaryId":{"type":"string","format":"uuid","description":"일기 ID","example":"550e8400-e29b-41d4-a716-446655440000"},"keywords":{"type":"array","description":"추출된 키워드 목록","items":{"$ref":"#/components/schemas/DiaryKeywordDto"}}},"required":["diaryId","keywords"]},"CommonResponseAdminDiaryKeywordResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminDiaryKeywordResponse"}},"required":["code","message","status"]},"DiaryKeywordDto":{"type":"object","description":"일기 키워드 정보","properties":{"keywordExtractionId":{"type":"integer","format":"int64","description":"키워드 추출 ID","example":1},"keywordGroup":{"type":"string","description":"키워드 그룹 (LIFE_CYCLE: 생애주기, HOUSEHOLD_STATUS: 가구상황, INTERESTS: 관심사)","enum":["LIFE_CYCLE","HOUSEHOLD_STATUS","INTERESTS"],"example":"LIFE_CYCLE"},"keyword":{"type":"string","description":"키워드","example":"청년"},"keywordCode":{"type":"string","description":"키워드 코드","example":"LC001"},"evidences":{"type":"array","description":"키워드 추출 근거 문장 목록","example":["취업 준비를 하고 있다","청년 주거 지원이 필요하다"],"items":{"type":"string"}}},"required":["evidences","keyword","keywordExtractionId","keywordGroup"]}},"securitySchemes":{"JWT":{"type":"http","name":"JWT","scheme":"bearer","bearerFormat":"JWT"}}}}